@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


a {
    text-decoration: none;
    color: inherit;
}

header {
    color: black;
    height: 10vh;

}

header .logo {
    height: 50px;
}

.navbar {
    display: flex;
    align-items: center;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
}

.account i {
    margin-left: 10px;
}

.container {
    max-width: 95%;
    margin: auto;
   
}


.uparwala{
    margin-top: 6rem;
    font-size: 25px;
    font-weight: 700;
}
.hero{
    display: grid;
    grid-template-columns: auto auto;
    max-width: 100%;
}
.second{
    margin-left: 20rem;
}
.hel{
    margin-left: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.t{
    margin-top: 1rem;
}
.h3{
    color: aqua;
}
.footer{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nechewala{
    font-weight: 500;
    font-size: 20px;
}